    <h2>Articles List</h2>
    <a ui-sref="^.create" class="button">Create article</a>
    <table class="table table-bordered table-article-list">
        <tr>
            <th ng-click="articles.sort('title')">
                Title
                <span class="sortorder" ng-show="articles.orderBy === 'title'" ng-class="{reverse:articles.orderByReverse}"></span>
            </th>
            <th ng-click="articles.sort('updatedAt')">
                Updated At
                <span class="sortorder" ng-show="articles.orderBy === 'updatedAt'" ng-class="{reverse:articles.orderByReverse}"></span>
            </th>
            <th ng-click="articles.sort('slug')">
                Slug
                <span class="sortorder" ng-show="articles.orderBy === 'slug'" ng-class="{reverse:articles.orderByReverse}"></span>
            </th>
            <th>Action</th>
        </tr>
        <tr ng-repeat="item in articles.articles | orderBy : articles.orderBy : articles.orderByReverse">
            <td>
                <a ui-sref="^.edit({slug: item.slug})">{{item.fullTitle}}</a>
            </td>
            <td>{{item.updatedAt|date}}</td>
            <td>{{item.slug}}</td>
            <td>
                <a ui-sref="^.view({id: item.id})">View</a>
                <a href="" ng-click="articles.remove($index)">Remove</a>
            </td>
        </tr>
    </table>
