    <h2>Articles List</h2>
    <a ui-sref="^.create" class="button">Create article</a>
    <table>
        <tr>
            <td ng-click="articles.sort('title')">Title</td>
            <td ng-click="articles.sort('updatedAt')">Updated At</td>
            <td ng-click="articles.sort('slug')">Slug</td>
            <td>Action</td>
        </tr>
        <tr ng-repeat="item in articles.articles | orderBy : articles.orderBy : articles.orderByReverse">
            <td>
                <a ui-sref="^.edit({slug: item.slug})">{{item.fullTitle}}</a>
            </td>
            <td>{{item.updatedAt|date}}</td>
            <td>{{item.slug}}</td>
            <td>
                <a ui-sref="^.view({id: item.id})">View</a>
                <a href="" ng-click="articles.remove($index)">Remove</a>
            </td>
        </tr>
    </table>
