<h2>Article {{article.editMode ? 'Edit' : 'Create'}}</h2>
<a ui-sref="^.list()" class="button">Articles List</a>
<form ng-submit="article.save(article.current)">
    <div class="row">
        <div class="form-group col-md-6">
            <label for="exampleInputEmail1">Title</label>
            <input type="text" class="form-control" id="exampleInputEmail1" ng-model="article.current.fullTitle"
                   placeholder="Title">
        </div>
        <div class="form-group col-md-4">
            <label for="languageId">Language</label>
            <select class="form-control" name="languageId" ng-model="article.current.language" ng-options="language.id as language.name for language in article.languages" required></select>
        </div>
        <div class="form-group col-md-2">
            <label>Permissions</label>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="article.current.public"> Is public?
                </label>
            </div>
        </div>
        <div class="form-group col-md-12">
            <label for="body">Summary</label>
            <textarea id="body" ng-model="article.current.summary" class="form-control" rows="3"></textarea>
        </div>
        <div class="col-md-12">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>

    </div>
</form>
<pre>{{article.current|json}}</pre>
<button ng-if="article.editMode">Ola Edit</button>
